BODY {
	SCROLLBAR-FACE-COLOR: #293189; 
        SCROLLBAR-HIGHLIGHT-COLOR: #293189; 
        SCROLLBAR-SHADOW-COLOR: #293189; 
        SCROLLBAR-3DLIGHT-COLOR: #1D225F; 
        SCROLLBAR-ARROW-COLOR: #FFFFFF; 
        SCROLLBAR-TRACK-COLOR: #21266D; 
        SCROLLBAR-DARKSHADOW-COLOR: #1D225F;
}
A:link {
	COLOR: #C0C0C0; 
        TEXT-DECORATION: none
}
A:visited {
	COLOR: #C0C0C0 ; 
        TEXT-DECORATION: none
}
A:hover {
	COLOR: #FFFFFF; 
        TEXT-DECORATION: none
}
